/* Navbar styling */
.custom-navbar-color {
  background-color: #8A2BE2 !important;
}

.navbar.bg-dark {
  background-color: #315593 !important;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: #ffd700;
}

.navbar-brand {
  color: #fff;
}

/* Intro Section */
.intro {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  align-items: center;
  text-align: left;
  margin: 200px 650px 50px 250px;
}

.intro.animate {
  opacity: 1;
  transform: translateY(0);
}

.intro h1 {
  font-size: 36px;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 10px;
}

.intro p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  max-width: 600px;
  padding: 10px;
}

/* Social icons */
.social-links {
  align-items: center;
  margin: 0px 650px 50px 250px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.social-icons a:hover img {
  transform: translateY(-5px);
  opacity: 0.8;
}

/* Profile image */
.profile-image {
  width: 350px;
  height: 450px;
  border-radius: 5px;
  object-fit: cover;
  border: 3px solid #000;
  margin: 30px auto;
  display: block;
}


/* -------------------- Responsive Design -------------------- */
@media screen and (max-width: 1024px) {
  .intro {
    margin: 150px 100px 50px 100px;
    text-align: center;
  }

  .social-links {
    margin: 30px auto;
    text-align: center;
  }

  .profile-image {
    margin: 30px auto;
    display: block;
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 100px 30px 40px 30px;
    text-align: center;
  }

  .intro h1 {
    font-size: 28px;
  }

  .intro p {
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
  }

  .social-links {
    margin: 20px auto;
    text-align: center;
  }

  .profile-image {
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 20px auto;
    display: block;
  }

  .social-icons img {
    width: 35px;
    height: 35px;
    margin: 0 8px;
  }
}

@media screen and (max-width: 480px) {
  .intro h1 {
    font-size: 24px;
  }

  .intro p {
    font-size: 16px;
  }

  .social-icons img {
    width: 30px;
    height: 30px;
  }

  .profile-image {
    align-items: center;
    margin: 20px auto;
    width: 220px;
    height: 300px;
  }
}
